body{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0%;
}
button{
    zoom: 2;
    border: solid red;
    border-radius: 3px;
    margin: 1%;
    background-color: white;
}
select{
    zoom: 1.7;
    margin: 1%;
    background-color: white;
    outline: none;
}